@import url('https://fonts.googleapis.com/css?family=Pacifico');
html{
    margin:0px;
    padding:0px;
}

body{
    width:100%;
    height:100%;
    background-image: url('images/fon.jpg');
    background-size: cover;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.container{
    width:800px;
}

.mainHeader{
    color: rgb(221, 82, 39);
}

span{
    font-size: 24px;
}

input{
    margin-top:40px;
    font-size: 20px;
}